

<div class="about-main">
  <li><a href="/about">MiniTweetについて</a></li>
  
   <p> SNSアプリケーションです。
    身近に起きた出来事やその時の気持ちを投稿し、他のユーザーと楽しくシェアできます。
  </p>
  <img class="about-img" src="/about.png">
  </div>