<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p><%= @post.content %><p>
      <div class="post-menus">
        <%= link_to "編集", edit_post_path(@post.id), class: "post_edit_button" %>
        <%= link_to "削除", destroy_post_path(@post.id), method: :post, class: "post_delete_button" %>
       </div>
    </div>
  </div>
</div>